body {
    background-color: #EE9F00;
}

h2 {
    color:#624203;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

p {
    font-family: monospace;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}

#navigation {
    background-color: #B3723D;
    font-family: Tahoma, Geneva, sans-serif;
}