body{
    background-color: #A1CD67 ;
}

h1{
    font-size: 400%;
}

#top{
    background-color: #52A370 ;
}

h2 {
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

p {
    font-family: "Arial Black", Gadget, sans-serif;
}

table.center {
    margin-left:auto;
    margin-right:auto;
}

img {
    display: inline;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}

.picture {
    /*display:block;*/
    margin: 5px;
    /*float: left;*/
}

.picture img{
    width: 100%;
}

table {
    width:60%;
    height:50%;
}

#navigation{
    background-color: #BF6088 ;
}

#Places {
    border-spacing: 40px;
    white-space: nowrap;
    padding-right: 20px;
}

#footer {
    font-size: 75%;
}

ul li {
    padding-bottom: 25px;
}

#LocationsTitle {
    font-size: 150%;
}
figcaption, h2 {
    color: white;
}